// font family
.font-family-primary {
  font-family: $base-font-family;
}

.section-title{
  color: $gray-80;
  font-size: rem(300);
  font-weight: 600;
  line-height: 1;
  text-align: center;
  // padding-top: 80px;
}
.title-normal{
  font-size: rem(28);
font-weight: 700;
letter-spacing: -2px;
line-height: 1.2em;
color: $white-70;
text-transform: capitalize;
}
.title-medium{
  font-size: rem(14);
font-weight: 500;
letter-spacing: -1px;
line-height: 1.2em;
color: $gray-65;
text-transform: uppercase;
}