$black: #000;
$white: #fff;

// yellow
$yellow-70:#FFC552;
$yellow-05:#5C523E;

// black
$black-90:#212224;
$black-70:#333639;

// gray
$gray-80:#494C50;
$gray-70:#BCBAB3;
$gray-65:#D9D5C9;

// white
$white-70:#FCFAF4;