$black: #000;
$white: #fff;

// yellow
$yellow-70:#FFC552;
$yellow-60:#ffc552cf;
$yellow-05:#5C523E;

// black
$black-90:#212224;
$black-70:#333639;
$black-30:#4d555b;

// gray
$gray-80:#494C50;
$gray-71:#AEAEAE;
$gray-70:#BCBAB3;
$gray-65:#D9D5C9;
$gray-10:#e0dfdc;

// white
$white-70:#FCFAF4;